from PySimpleGUI import PySimpleGUI as sg

# Layout
sg.theme('BluePurple')
linhas = [
    [sg.Text('Usuário'),sg.Input(key = 'usuario')],
    [sg.Text('Senha'),sg.Input(key ='senha', password_char='*')],
    [sg.Button('Continuar')]
]
janela = sg.Window('Login', linhas)

while True:
    eventos = janela.read()
    valores = janela.read()
    if eventos == sg.WINDOW_CLOSED:
        break
    if eventos  == 'Continuar':
        if valores['usuario'] == 'p' and valores['senha'] == '12':
            print("Você é nóia")
